## [Start] Set query expression for key **
#if( $util.isNull($ctx.args.agentId) && !$util.isNull($ctx.args.sortDirection) )
  $util.error("When providing argument 'sortDirection' you must also provide argument 'agentId'.", "InvalidArgumentsError")
#end
#set( $modelQueryExpression = {} )
## [Start] Validate key arguments. **
#if( !$util.isNull($ctx.args.folder) && $util.isNull($ctx.args.agentId) )
  $util.error("When providing argument 'folder' you must also provide arguments agentId", "InvalidArgumentsError")
#end
## [End] Validate key arguments. **
#if( !$util.isNull($ctx.args.agentId) )
  #set( $modelQueryExpression.expression = "#agentId = :agentId" )
  #set( $modelQueryExpression.expressionNames = {
  "#agentId": "agentId"
} )
  #set( $modelQueryExpression.expressionValues = {
  ":agentId": {
      "S": "$ctx.args.agentId"
  }
} )
#end
## [Start] Applying Key Condition **
#if( !$util.isNull($ctx.args.folder) && !$util.isNull($ctx.args.folder.beginsWith) )
  #set( $modelQueryExpression.expression = "$modelQueryExpression.expression AND begins_with(#sortKey, :sortKey)" )
  $util.qr($modelQueryExpression.expressionNames.put("#sortKey", "folder"))
  $util.qr($modelQueryExpression.expressionValues.put(":sortKey", { "S": "$ctx.args.folder.beginsWith" }))
#end
#if( !$util.isNull($ctx.args.folder) && !$util.isNull($ctx.args.folder.between) )
  #set( $modelQueryExpression.expression = "$modelQueryExpression.expression AND #sortKey BETWEEN :sortKey0 AND :sortKey1" )
  $util.qr($modelQueryExpression.expressionNames.put("#sortKey", "folder"))
  $util.qr($modelQueryExpression.expressionValues.put(":sortKey0", { "S": "$ctx.args.folder.between[0]" }))
  $util.qr($modelQueryExpression.expressionValues.put(":sortKey1", { "S": "$ctx.args.folder.between[1]" }))
#end
#if( !$util.isNull($ctx.args.folder) && !$util.isNull($ctx.args.folder.eq) )
  #set( $modelQueryExpression.expression = "$modelQueryExpression.expression AND #sortKey = :sortKey" )
  $util.qr($modelQueryExpression.expressionNames.put("#sortKey", "folder"))
  $util.qr($modelQueryExpression.expressionValues.put(":sortKey", { "S": "$ctx.args.folder.eq" }))
#end
#if( !$util.isNull($ctx.args.folder) && !$util.isNull($ctx.args.folder.lt) )
  #set( $modelQueryExpression.expression = "$modelQueryExpression.expression AND #sortKey < :sortKey" )
  $util.qr($modelQueryExpression.expressionNames.put("#sortKey", "folder"))
  $util.qr($modelQueryExpression.expressionValues.put(":sortKey", { "S": "$ctx.args.folder.lt" }))
#end
#if( !$util.isNull($ctx.args.folder) && !$util.isNull($ctx.args.folder.le) )
  #set( $modelQueryExpression.expression = "$modelQueryExpression.expression AND #sortKey <= :sortKey" )
  $util.qr($modelQueryExpression.expressionNames.put("#sortKey", "folder"))
  $util.qr($modelQueryExpression.expressionValues.put(":sortKey", { "S": "$ctx.args.folder.le" }))
#end
#if( !$util.isNull($ctx.args.folder) && !$util.isNull($ctx.args.folder.gt) )
  #set( $modelQueryExpression.expression = "$modelQueryExpression.expression AND #sortKey > :sortKey" )
  $util.qr($modelQueryExpression.expressionNames.put("#sortKey", "folder"))
  $util.qr($modelQueryExpression.expressionValues.put(":sortKey", { "S": "$ctx.args.folder.gt" }))
#end
#if( !$util.isNull($ctx.args.folder) && !$util.isNull($ctx.args.folder.ge) )
  #set( $modelQueryExpression.expression = "$modelQueryExpression.expression AND #sortKey >= :sortKey" )
  $util.qr($modelQueryExpression.expressionNames.put("#sortKey", "folder"))
  $util.qr($modelQueryExpression.expressionValues.put(":sortKey", { "S": "$ctx.args.folder.ge" }))
#end
## [End] Applying Key Condition **
## [End] Set query expression for key **
$util.qr($ctx.stash.put("modelQueryExpression", $modelQueryExpression))
{}